@media screen and (min-width: 1366px) {

  .home{
      h1{
        font-size: 3.5rem;
      }
      h2{
        font-size: 3rem;
      }
      h3{
        font-size: 2.5rem;
      }
      p{
        font-size: 1.6rem;
      }
    }
    .page{
      h1{
        font-size: $page_h1_1366;
      }
      h2{
        font-size: $page_h2_1366;
      }
      h3{
        font-size: $page_h3_1366;
      }
      p{
        font-size: $page_p_1366;
      }
    }


}
