@font-face {
  font-family: 'kmap-icons';
  font-style: normal;
  font-weight: 400;
  src: url("kmap-icons.eot?6eec7740b8d0d0bd54c010e2229dff9a?#iefix") format("embedded-opentype"),
url("kmap-icons.woff2?6eec7740b8d0d0bd54c010e2229dff9a") format("woff2"),
url("kmap-icons.woff?6eec7740b8d0d0bd54c010e2229dff9a") format("woff");
}

.kmap-icons, .icon-icons {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.icon-icons {
  width: 1em;
  height: 1em;
  position: relative;
  fill: currentColor;
}

.kmap-icons {
  font-family: 'kmap-icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.icon-avatar:before { content: "\f101"; }
.icon-back:before { content: "\f102"; }
.icon-car-park:before { content: "\f103"; }
.icon-dashboard:before { content: "\f104"; }
.icon-delete:before { content: "\f105"; }
.icon-edit:before { content: "\f106"; }
.icon-endFlag:before { content: "\f107"; }
.icon-false:before { content: "\f108"; }
.icon-module:before { content: "\f109"; }
.icon-next:before { content: "\f10a"; }
.icon-refresh:before { content: "\f10b"; }
.icon-reservation:before { content: "\f10c"; }
.icon-see:before { content: "\f10d"; }
.icon-startFlag:before { content: "\f10e"; }
.icon-true:before { content: "\f10f"; }
.icon-users:before { content: "\f110"; }
