@font-face {
  font-family: 'kmap-icons';
  font-style: normal;
  font-weight: 400;
  src: url("kmap-icons.eot?36d38188b5f113358199fe5d701c6845?#iefix") format("embedded-opentype"),
url("kmap-icons.woff2?36d38188b5f113358199fe5d701c6845") format("woff2"),
url("kmap-icons.woff?36d38188b5f113358199fe5d701c6845") format("woff");
}

.kmap-icons, .icon-icons {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.icon-icons {
  width: 1em;
  height: 1em;
  position: relative;
  fill: currentColor;
}

.kmap-icons {
  font-family: 'kmap-icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.icon-avatar:before { content: "\f101"; }
.icon-car-park:before { content: "\f102"; }
.icon-dashboard:before { content: "\f103"; }
.icon-module:before { content: "\f104"; }
.icon-reservation:before { content: "\f105"; }
.icon-users:before { content: "\f106"; }
